@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Grotesk:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-background: #090c1c;
  --color-sidebar: #050615;
  --color-card: #13182C;

  --color-surface-hover: #1f2937;

  --color-primary: #5367f4;
  --color-primary-foreground: #fafcff;

  --color-secondary: #1e253f;
  --color-secondary-foreground: #eceef4;

  --color-accent: #242d53;
  --color-accent-foreground: #f4f5f9;

  --gradient-logo: linear-gradient(135deg,
      #5367f4,
      #c374d5);

  --color-text: #f9fafb;
  --color-text-muted: #94a3b8;

  --muted-foreground: #9ca4b8;

  --color-input: #262c45;

  --sidebar-border: #1f253c;

  --sidebar-accent: #0C1023;
  --sidebar-accent-hover: #181d37;

  --color-ring: #5367f4;

  --color-popover: #0e1226;
  --color-popover-foreground: #f4f5f9;

  --color-destructive: 239 68 68;

  --border: #2b314a;
}

:root.light {
  /* Page */
  --color-background: #f8fafc;

  /* Sidebar — slightly different from page */
  --color-sidebar: #f1f5f9;

  /* Cards / elevated surfaces */
  --color-card: #ffffff;

  /* Hover */
  --color-surface-hover: #e8edf5;

  /* Primary */
  --color-primary: #5367f4;
  --color-primary-foreground: #ffffff;

  /* Secondary */
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #334155;

  /* Accent */
  --color-accent: #f1f5f9;
  --color-accent-foreground: #334155;

  /* Logo */
  --gradient-logo: linear-gradient(135deg,
      oklch(58% .21 272),
      oklch(68% .16 320));

  /* Text */
  --color-text: #0f172a;
  --color-text-muted: #64748b;
  --muted-foreground: #475569;

  /* Input */
  --color-input: #f1f5f9;

  /* Borders */
  --sidebar-border: #e2e8f0;
  --border: #e2e8f0;
  --sidebar-accent: #e2e8f0;

  /* Sidebar items (Hover state) */
  --sidebar-accent-hover: #cbd5e1;

  /* Focus rings */
  --color-ring: #5367f4;

  --color-popover: #ffffff;
  --color-popover-foreground: #090d16;

   --color-destructive: 239 68 68;


}

@layer base {
  body {
    @apply font-sans;
    background: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    overflow: hidden;
  }
}